     .text {
      background-color: rgb(71, 172, 255);
      color: white;
      border: 2px solid black;
      margin: 20px;
      padding: 20px;
    }

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}